.contacts {
  width: 400px;
  height: 550px;
  background-color: #33596D;
  padding: 10px;
  //bottom: 150px;
  z-index: 99998;
  color: #eae2b7;
  position: absolute;
  left: 0;
  bottom: 80px;
  border-radius: 15px;
  backdrop-filter: blur(20px);

  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: #003049;
    border-radius: 10px 10px 0 0;

    &-search {
      width: 100%;
      height: 40px;
      font-size: 18px;
      padding-left: 15px;
      border-radius: 10px;
      background-color: transparent;
      border: 1px solid rgba(255, 255,255, .5);

      &:focus {
        background-color: rgba(#eae2b7, .7);
      }
    }
  }

  &__main-list {
    padding: 20px;
    background-color: #003049;
    height: 80%;
    border-radius: 0 0 10px 10px;
    //margin-top: 20px;

    &-item {
      font-size: .9rem;
      cursor: pointer;
      background-color: #003049;
      margin: 15px 0;
      display: flex;
      align-items: center;
      transition: all .1s ease-in;

      .contact-image-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;

        .contact-image {
          width: 100%;
        }
      }

      &:hover {
        background-color: rgba(#eae2b7, .8);
        padding: 5px;
        border-radius: 10px;
        color: #003049;
      }
    }
  }

  &-footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    //.corner {
    //  width: 50px;
    //  height: 50px;
    //  position: absolute;
    //  background-color: #888;
    //  bottom: -5px;
    //  left: 40%;
    //  transform: rotate(45deg);
    //}
  }
}


@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
