.user-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  cursor: pointer;
  order: 1;
  position: absolute;
  right: 0;

  .username {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
  }

  .img-wrapper {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    overflow: hidden;

    @media (max-width: 576px) {
      width: 45px;
      height: 45px;
    }

    img {
      width: 100%;
    }

  }
}