.bg-backdrop {
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(50px);
  width: 80%;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.title {
  font-size: 60px;
}

.text-size {
  font-size: 30px;
}

@media (max-width: 768px) {
  .row {
    height: auto !important;
    flex-direction: column;
  }
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

