.list-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: #eae2b7;
  padding: 10px;
  box-sizing: border-box;
  height: 100px;
  cursor: pointer;

  &:hover:not(.active-chat) {
    background-color: rgba(#f77f00, .4);
  }

  .img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    @media (max-width: 576px) {
      width: 45px;
      height: 45px;
    }

    .profile-img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .chat-name-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;

    .last-msg {
      font-size: 13px;
      color: rgba(white, .8);
      max-width: 350px;
    }
  }

  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50px;

    .last-msg-date {
      color: rgba(white, .7);
    }

    .chat-item-badge {
      width: 10px;
      height: 10px;
      background-color: #f77f00;
      border-radius: 50%;
    }
  }
}

.dragged {
  background-color: rgba(#f77f00, .4);
  backdrop-filter: blur(20px);
}

.active-chat:not(.dragged) {
  background-color: #f77f00;
}
